<div class="container">
    <h1 class="text-center" _msttexthash="357643" _msthash="3">Three major lineups</h1>
    <hr class="my-4">
    <div class="Container">
        <div class="Card">
            <div class="imgBx">
                <img src="/img/html02/haizei.png">
            </div>
            <div class="Content">
                <h2 _msttexthash="79404" _msthash="4">pirate</h2>
                <p _msttexthash="39221390" _msthash="5">A man with wealth, fame, and power, everything in the world, One Piece Gord Roger's words before being executed and killed made people all over the world frantically pour into the sea. "Want to get my treasure? Then go find it! Where did I put it all" The world began the Age of Discovery.</p>
            </div>
        </div>
        <div class="Card">
            <div class="imgBx">
                <img src="/img/html02/haijun.png">
            </div>
            <div class="Content">
                <h2 _msttexthash="49634" _msthash="6">navy</h2>
                <p _msttexthash="62484032" _msthash="7">The military organization in One Piece, the World Government, enforces law and order in the world's oceans in the name of absolute justice. Among them, the Navy Headquarters, Justice Island, and Advance City together constitute the world's three major fortresses, and the Navy Headquarters is one of the "three major forces" of the great shipping route.</p>
            </div>
        </div>
        <div class="Card">
            <div class="imgBx">
                <img src="/img/html02/geming.png">
            </div>
            <div class="Content">
                <h2 _msttexthash="241137" _msthash="8">Revolutionary</h2>
                <p _msttexthash="44364268" _msthash="9">The Revolutionary Army was led by Monchi M. D. Dragon, with the aim of overthrowing the unequal rule of the Draconians who dominate the world government. The world government sees it as the greatest threat to world stability; The revolutionary army will instigate the overthrow of the country.</p>
            </div>
        </div>
    </div>
    <hr>
    <h1 class="text-center" _msttexthash="325325" _msthash="10">Other occupations</h1>
    <div class="Container">
        <div class="Card">
            <div class="imgBx">
                <img src="/img/html02/lieren.png">
            </div>
            <div class="Content">
                <h2 _msttexthash="204529" _msthash="11">Pirate Hunter</h2>
                <p _msttexthash="54306486" _msthash="12">There are many pirates at sea who are powerful, and the world government has issued a wanted warrant to catch pirates with huge bounties, and there are a number of people who get bounties in this way as a profession called bounty hunters, that is, pirate hunters, and the original Roronoa Zoro was a pirate hunter before he met Luffy</p>
            </div>
        </div>
    </div>

    <hr>
    <h1 class="text-center" _msttexthash="862420" _msthash="13">Introduction to the Pirate Lineup:</h1>
    <div class="Container">
        <div class="card02">
            <div class="imgBx02">
                <img src="/img/html02/H301.jpg">
            </div>
            <div class="contentBx02">
                <div class="content02">
                    <h3 _msttexthash="200252" _msthash="14">The Straw Hats</h3>
                    <p _msttexthash="132340585" _msthash="15">The Straw Hats are led by the protagonist Monchi · The group of pirates assembled by D. Luffy has a banner pattern of a skeleton wearing a straw hat. As of the end of the Wano Country Chapter, there are 10 members in total, and all of them have been rewarded, and the total reward for all members is 31,6100,100,7 berry. There are also &lt;&gt; teams of "Straw Hat Ship Regiment", namely Bartow Club, Handsome Pirates, Eight Treasures Water Army, Edio Pirates, Dontata Clan, Knock Tower Band, New Giant Soldier Pirates, and Jotamaria Ship Regiment.</p>
                </div>
            </div>
        </div>
        <div class="card02">
            <div class="imgBx02">
                <img src="/img/html02/H304.jpg">
            </div>
            <div class="contentBx02">
                <div class="content02">
                    <h3 _msttexthash="813514" _msthash="16">His Majesty the Seven Martial Seas</h3>
                    <p _msttexthash="137405346" _msthash="17">His Majesty Nanamukai is a sea thief recognized by the world government, possessing disastrous destructive power and a huge combat power that rivals the state. The original members of the Seven Warrior Seas include Jorakol Mihawk, Bartholomew Big Bear, Don Quixote Doflamingo, Moonlight Moria, Boya Hancock, Jinping and Sha Klockdal. After the adventures of the Straw Hats and his party, the location of the Seven Martial Seas changed. D. Titch, Bucky the Clown, Trafalgar Rowe, and Edward Weibull later joined the Seven Martial Seas</p>
                </div>
            </div>
        </div>
        <div class="card02">
            <div class="imgBx02">
                <img src="/img/html02/H305.jpg">
            </div>
            <div class="contentBx02">
                <div class="content02">
                    <h3 _msttexthash="573612" _msthash="18">The most wicked generation</h3>
                    <p _msttexthash="111420322" _msthash="19">The Extremely Evil Generation, the collective name of the twelve characters of "One Piece". Including the eleven supernova pirates who landed in the Chambord Islands a few days before the Overhead War, with a bounty of over 100 million, and the new Four Emperors Blackbeard, who shined in the Overhead War. The generation of the old and the new era, the end of the whitebeard generation; The pursuit of new stars in the new era, the era of heroes is coming! A new era of division begins!</p>
                </div>
            </div>
        </div>
        <div class="card02">
            <div class="imgBx02">
                <img src="/img/html02/H302.jpg">
            </div>
            <div class="contentBx02">
                <div class="content02">
                    <h3 _msttexthash="377663" _msthash="20">The Old Four Emperors</h3>
                    <p _msttexthash="150129369" _msthash="21">The Four Emperors are the collective name of the four extremely powerful pirate groups or the captains of the four pirate groups in the "New World". The "Four Emperors" can refer to both the Four Emperors themselves and their pirates. The Four Emperor Pirates are not only extremely powerful in their leaders, but also in their cadres; The Four Emperors reigned like emperors in the "New World" in the second half of the "Great Voyage", and their prestige, power, and strength were extremely close to and comparable to the overlords before the era of pirates</p>
                </div>
            </div>
        </div>
        <div class="card02">
            <div class="imgBx02">
                <img src="/img/html02/H302-2.jpg">
            </div>
            <div class="contentBx02">
                <div class="content02">
                    <h3 _msttexthash="384345" _msthash="22">Now the Four Emperors</h3>
                    <p _msttexthash="11309376" _msthash="23">After Whitebeard died from the top of the war, Blackbeard Tiki gained Whitebeard's abilities and succeeded Whitebeard as one of the Four Emperors.</p>
                </div>
            </div>
        </div>
        <div class="card02">
            <div class="imgBx02">
                <img src="/img/html02/H303.jpg">
            </div>
            <div class="contentBx02">
                <div class="content02">
                    <h3 _msttexthash="571961" _msthash="24">The fifth emperor of the sea</h3>
                    <p _msttexthash="66993888" _msthash="25">From the Cake Island incident, after Luffy escaped from the BigMom territory, one of the Four Emperors, he and the Bartow Club, the Handsome Pirates, the Eight Treasures Water Army, the Edio Pirates, the Dontata Clan, the New Giant Pirates, and the Jotamaria Ship Regiment formed the Straw Hat Bunker Regiment, and Luffy was promoted to become the fifth emperor of the sea.</p>
                </div>
            </div>
        </div>
    </div>
</div>