<div class="container">
    <div class="row">
        <div class="col-12" style="margin: 20px 0px;">
            <div class="carousel slide" id="myCarousel" data-ride="carousel" data-interval="2500">
                <ol class="carousel-indicators">
                    <li data-slide-to="0" data-target="#myCarousel" class=""></li>
                    <li data-slide-to="1" data-target="#myCarousel" class=""></li>
                    <li data-slide-to="2" data-target="#myCarousel" class=""></li>
                    <li data-slide-to="3" data-target="#myCarousel" class=""></li>
                    <li data-slide-to="4" data-target="#myCarousel" class="active"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item" _mstvisible="0">
                        <img alt="" class="d-block w-100" src="/img/lunbo/lunbo01.jpg" _mstvisible="1">
                        <div class="carousel-caption" _mstvisible="1">
                            <h5 _msttexthash="2726776" _msthash="74" _mstvisible="2">One person's dream, hundreds of millions of people's expectations</h5>
                        </div>
                    </div>
                    <div class="carousel-item" _mstvisible="0">
                        <img alt="" class="d-block w-100" src="/img/lunbo/lunbo02.jpg" _mstvisible="1">
                        <div class="carousel-caption" _mstvisible="1">
                            <h5 _msttexthash="5616052" _msthash="75" _mstvisible="2">We all have the same stupid dreams, and I'll be with you for my own goals, and I'll be the chef on your ship</h5>
                        </div>
                    </div>
                    <div class="carousel-item" _mstvisible="0">
                        <img alt="" class="d-block w-100" src="/img/lunbo/lunbo03.jpg" _mstvisible="1">
                        <div class="carousel-caption" _mstvisible="1">
                            <h5 _msttexthash="1332708" _msthash="76" _mstvisible="2">I don't have any men on my ship, only my buddies</h5>
                        </div>
                    </div>
                    <div class="carousel-item" _mstvisible="0">
                        <img alt="" class="d-block w-100" src="/img/lunbo/lunbo04.jpg" _mstvisible="1">
                        <div class="carousel-caption" _mstvisible="1">
                            <h5 _msttexthash="1610414" _msthash="77" _mstvisible="2">As long as Luffy is still smiling, life isn't too bad</h5>
                        </div>
                    </div>
                    <div class="carousel-item active">
                        <img alt="" class="d-block w-100" src="/img/lunbo/lunbo05.jpg">
                        <div class="carousel-caption">
                            <h5 _msttexthash="7026370" _msthash="78">For the sake of everyone, I will definitely live strongly! I've decided not to cry anymore! I'm going to fight alone!</h5>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" data-slide="prev" href="#myCarousel" role="button">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" data-slide="next" href="#myCarousel" role="button">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card">
                <h5>
                    <a href="#" style="float: right;" _msttexthash="53885" _msthash="79">More &gt;</a>
                    <img src="/img/logo01.jpg" alt="" width="20" height="20"><font _mstmutation="1" _msttexthash="382070" _msthash="80"> Pirate Announcement </font>
                </h5>
                <hr>
                <div class="list-group list-group-flush">
                    <a class="list-group-item" href="#" _msttexthash="981461" _msthash="81">I'm Luffy! To become the man of One Piece</a>
                    <a class="list-group-item" href="#" _msttexthash="1843816" _msthash="82">The Great Sword Hero appears! Pirate Hunter Ronoa. Zoro</a>
                    <a class="list-group-item" href="#" _msttexthash="729157" _msthash="83">Righteous liars? Captain Usopp</a>
                    <a class="list-group-item" href="#" _msttexthash="1065961" _msthash="84">Famous chef! Sanji of the Sea Restaurant</a>
                    <a class="list-group-item" href="#" _msttexthash="2371928" _msthash="85">The Town of the Beginning and the End Landing in the town of Rogue</a>
                    <a class="list-group-item" href="#" _msttexthash="1800162" _msthash="86">Let the ship go into the air! Ride the assault currents</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5">
            <div class="card">
                <h5>
                    <a href="#" style="float: right;" _msttexthash="53885" _msthash="87">More &gt;</a>
                    <img src="/img/logo02.jpg" alt="" width="20" height="20"><font _mstmutation="1" _msttexthash="253058" _msthash="88"> Pirate Incident </font>
                </h5>
                <hr>
                <div class="list-group list-group-flush">
                    <a class="list-group-item" href="#" _msttexthash="860509" _msthash="89">Speeding Sea Trains and Water Seven</a>
                    <a class="list-group-item" href="#" _msttexthash="3046329" _msthash="90">The king of beasts reigns over the sea! The Dream Boat is finally complete</a>
                    <a class="list-group-item" href="#" _msttexthash="1516775" _msthash="91">Meet in a new world! Farewell to the brave pirates</a>
                    <a class="list-group-item" href="#" _msttexthash="2546401" _msthash="92">The joy of meeting people! The true face of the skeletal gentleman</a>
                    <a class="list-group-item" href="#" _msttexthash="1580605" _msthash="93">The Vanishing Buddies: The End of the Straw Hat Boys</a>
                    <a class="list-group-item" href="#" _msttexthash="1560130" _msthash="94">The show opens to uncover Blackbeard's ambitions</a>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-3">
            <div class="card kstd">
                <h5>
                    <img src="/img/logo03.jpg" alt="" width="20" height="20"><font _mstmutation="1" _msttexthash="133718" _msthash="95"> Tram at sea </font>
                </h5>
                <hr>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <img src="/img/kstd/kstd01.jpg" class="img-fluid img-thumbnail">
                            <p _msttexthash="372671" _msthash="96">Belief in delicacies</p>
                        </div>
                        <div class="col-4">
                            <img src="/img/kstd/kstd02.jpg" class="img-fluid img-thumbnail">
                            <p _msttexthash="236145" _msthash="97">Slingshot lies</p>
                        </div>
                        <div class="col-4">
                            <img src="/img/kstd/kstd03.jpg" class="img-fluid img-thumbnail">
                            <p _msttexthash="208494" _msthash="98">Bone movement</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <img src="/img/kstd/kstd04.jpg" class="img-fluid img-thumbnail">
                            <p _msttexthash="486980" _msthash="99">Three Knife Commitments</p>
                        </div>
                        <div class="col-4">
                            <img src="/img/kstd/kstd05.jpg" class="img-fluid img-thumbnail">
                            <p _msttexthash="261365" _msthash="100">Straw hat dreams</p>
                        </div>
                        <div class="col-4">
                            <img src="/img/kstd/kstd06.jpg" class="img-fluid img-thumbnail">
                            <p _msttexthash="267748" _msthash="101">Windmill routes</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <img src="/img/kstd/kstd07.jpg" class="img-fluid img-thumbnail">
                            <p _msttexthash="324740" _msthash="102">Blossoming smiles</p>
                        </div>
                        <div class="col-4">
                            <img src="/img/kstd/kstd08.jpg" class="img-fluid img-thumbnail">
                            <p _msttexthash="209911" _msthash="103">Sakura misses</p>
                        </div>
                        <div class="col-4">
                            <img src="/img/kstd/kstd09.jpg" class="img-fluid img-thumbnail">
                            <p _msttexthash="322842" _msthash="104">The will of the ship</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <div class="card ztwz">
                <h5>
                    <a href="#" style="float: right;" _msttexthash="53885" _msthash="105">More &gt;</a>
                    <img src="/img/logo04.jpg" alt="" width="20" height="20"><font _mstmutation="1" _msttexthash="392106" _msthash="106"> The youth of that year </font>
                </h5>
                <hr>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <a href="#"><img src="/img/ztwz/ztwz01.jpg"></a>
                            <p _msttexthash="1575418" _msthash="107">"I'm the man who wants to be the king of the pirates!"</p>
                        </div>
                        <div class="col-12 col-md-3">
                            <a href="#"><img src="/img/ztwz/ztwz02.jpg"></a>
                            <p _msttexthash="1814748" _msthash="108">"If you don't risk your life, you can't create a future."</p>
                        </div>
                        <div class="col-12 col-md-3">
                            <a href="#"><img src="/img/ztwz/ztwz03.jpg"></a>
                            <p _msttexthash="3395990" _msthash="109">"Hold on to what you want to protect, and don't let those guys get away with it!"</p>
                        </div>
                        <div class="col-12 col-md-3">
                            <a href="#"><img src="/img/ztwz/ztwz04.jpg"></a>
                            <p _msttexthash="3975530" _msthash="110">"Throw away all the past and fetters, and don't spare the tears shed for your dreams."</p>
                        </div>
                        <div class="col-12 col-md-3">
                            <a href="#"><img src="/img/ztwz/ztwz05.jpg"></a>
                            <p _msttexthash="5372315" _msthash="111">"The so-called dream is a reality that people who have the strength at the same time can talk about."</p>
                        </div>
                        <div class="col-12 col-md-3">
                            <a href="#"><img src="/img/ztwz/ztwz06.jpg"></a>
                            <p _msttexthash="4551170" _msthash="112">"Whether it's a demon or a pirate, I want my fame to be a sensation all over the world anyway."</p>
                        </div>
                        <div class="col-12 col-md-3">
                            <a href="#"><img src="/img/ztwz/ztwz07.jpg"></a>
                            <p _msttexthash="7444580" _msthash="113">"Inherited from generation to generation, the changes of the times, and people's dreams, these are all unstoppable."</p>
                        </div>
                        <div class="col-12 col-md-3">
                            <a href="#"><img src="/img/ztwz/ztwz08.jpg"></a>
                            <p _msttexthash="580034" _msthash="114">"People's dreams never end!"</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>