<div class="container">
    <p align="center">
        <video src="/视频音频/回忆.mp4" width="1100" controls="controls" autoplay="autoplay"></video>
    </p>
    <div class="top1">
        <div class="left" _msttexthash="178254401" _msthash="3"> Monchi S. D. Luffy was inspired by the pirate "Redhead" Jax in his childhood, and since he was a child, he has been determined to become "One Piece". After he went to sea at the age of 17, he met and befriended pirate hunter Roroa Zorro, navigator Nami, sniper lying, and chef Vince Mock Sanchi. They formed the Straw Hat Pirates and prepared to enter the Great Passage and arrived in Rogue Town. After leaving Rogue Town, the group swore their dreams before the entrance to the Great Passage, "Upside Down Mountain", and entered the Great Passage after crossing the Upside Down Mountain, and began the next adventure. </div>
        <div class="auto">
            <p _msttexthash="395018" _msthash="4">East China Sea Chapter</p>
        </div>
        <div class="right">
            <img src="/img/html01/1.jpg" alt="">
        </div>
    </div>

    <div class="top1">
        <div class="left">
            <img src="/img/html01/2.jpg">
        </div>
        <div class="auto">
            <p _msttexthash="516737" _msthash="5">The Great Voyage Breakout</p>
        </div>
        <div class="right" _msttexthash="196341353" _msthash="6"> The Straw Hat Pirates travel to the Great Passage and meet Nephette Vivi, the princess of the Kingdom of Alabastan who is undercover in the secret criminal organization Baroque Walker, at the peak of Whiskey Mountain, and learns from the princess that Alabastan is in dire straits; and the conspiracy of the king's Seven Martial Seas 'Mr.0' crocodile, Luffy decided to help the princess. On the way, he went to the island "Little Garden" to fight some of the members of Baroque Walker, and during the journey, in order to heal Nami, who was sick in the Little Garden, he went to Magnetic Drum Island and added a fellow ship doctor, Doni Doni Chopper </div>
    </div>
    <div class="top1">
        <div class="left" _msttexthash="61246679" _msthash="7"> After arriving in Alabastan, a civil war broke out due to the instigation of the crocodile, and Luffy finally defeated the crocodile, and the civil war ended. Later, Vivi said goodbye to Luffy and the others, and Nico Robin, the former vice president of Baroque Walker, joined the Straw Hat Pirates as an archaeologist because he lost his purpose in life. </div>
        <div class="auto">
            <p _msttexthash="309374" _msthash="8">Alabastan Chapter</p>
        </div>
        <div class="right">
            <img src="/img/html01/3.jpg" alt="">
        </div>
    </div>

    <div class="top1">
        <div class="left">
            <img src="/img/html01/4.jpg">
        </div>
        <div class="auto">
            <p _msttexthash="309153" _msthash="9">Sky Island Chapter</p>
        </div>
        <div class="right" _msttexthash="142559001" _msthash="10"> After leaving the Kingdom of Alabastan, the Straw Hat Pirates collide with a large ship falling from the sky, and the record hand is pointing upwards to the sky. Luffy, who became interested in Sky Island, relied on the upperture to travel to Sky Island. Strayed into the territory of the ruler of the Sky Island, the Anilu Anilu, the Straw Hat Pirates, the Legion of the Gods, and the native of the territory "Shandia" fought fiercely, and Anilu was finally defeated, and the 400-year war between the Sky Island inhabitants and the Shandia clan ended </div>
    </div>
    <div class="top1">
        <div class="left" _msttexthash="20585383" _msthash="11"> The Straw Hat Pirates meet the "Silver Fox" Foxy, who specializes in stealing other pirate crews in the Davy Back Fight game, and the ship's doctor Chopper is snatched by him, and the two pirates face off. </div>
        <div class="auto">
            <p _msttexthash="585338" _msthash="12">Long Rim Long Island Chapter</p>
        </div>
        <div class="right">
            <img src="/img/html01/5.jpg" alt="">
        </div>
    </div>

    <div class="top1">
        <div class="left">
            <img src="/img/html01/6.jpg">
        </div>
        <div class="auto">
            <p _msttexthash="508703" _msthash="13">Seven Islands of Water Arc</p>
        </div>
        <div class="right" _msttexthash="194815660" _msthash="14"> In order to repair the scarred forward Merry, the Straw Hat Pirates came to the Seven Islands of Water, which is famous for its shipbuilding industry, but learned that the Merry could not be repaired, and lied and failed to the ship-breaking gangster Frankie, so they left the group. On the other hand, Robin meets the government agency CP9 and is voluntarily taken away by CP9 due to the fear that the tragedy that happened in his hometown in the past will be repeated on the Straw Hat Pirates. And Liar, who is dissatisfied with Luffy's decision to replace the Merry, decides to leave, and the Straw Hat Pirates are in danger of falling apart. </div>
    </div>
    <div class="top1">
        <div class="left" _msttexthash="116945153" _msthash="15"> The Straw Hat Pirates went to Justice Island to rescue Robin, and had a full-scale duel with the CP9 troops under the World Government, and finally rescued Robin, and the lying cloth also returned to the group. Luffy uses the cremation ceremony to see off the Merry, who has reached the end of the time, while Frankie uses the 2 million Berry he stole to build a new ship, the Thousand Miles of Sunshine, and continues to go to sea on an adventure, and Franky also joins the pirates as a shipwright. </div>
        <div class="auto">
            <p _msttexthash="472563" _msthash="16">Judicial Island Chapter</p>
        </div>
        <div class="right">
            <img src="/img/html01/7.jpg" alt="">
        </div>
    </div>

    <div class="top1">
        <div class="left">
            <img src="/img/html01/8.jpg">
        </div>
        <div class="auto">
            <p _msttexthash="1266148" _msthash="17">The horror of the three-masted sailing ship</p>
        </div>
        <div class="right" _msttexthash="33731061" _msthash="18"> The Straw Hat Pirates step into the magical three-masted schooning zone, meet the mysterious skeleton Brooke, and clash with Moonlight Moriah, one of the Seven Martial Seas. In the end, Luffy defeats Moriah, and Brooke joins the Straw Hat Pirates as a musician. </div>
    </div>
    <div class="top1">
        <div class="left" _msttexthash="63305151" _msthash="19"> The Straw Hat Pirates entered the Chambord Islands, the end of the first half of the Great Passage, clashed with the world nobles Draconians, and then encountered the attacks of Admiral Yellow Ape, Sentomaru and Transhumans, and finally Bartholome Big Bear used the fruit to help the Straw Hat Pirates escape, knocking the crew members to different islands. </div>
        <div class="auto">
            <p _msttexthash="280514" _msthash="20">Chambord Islands</p>
        </div>
        <div class="right">
            <img src="/img/html01/9.jpg" alt="">
        </div>
    </div>

    <div class="top1">
        <div class="left">
            <img src="/img/html01/10.jpg">
        </div>
        <div class="auto">
            <p _msttexthash="247169" _msthash="21">Isla Mujeres Arc</p>
        </div>
        <div class="right" _msttexthash="30325243" _msthash="22"> Luffy, who was sent to Isla Mujeres, met the island's "Pirate Empress" Pol Hankuke, and learned that his brother "Fire Fist" Potter Jacket · When D. Ace is about to be executed, he asks Snake Queen to smuggle him to the large underwater prison "Impel". </div>
    </div>
    <div class="top1">
        <div class="left" _msttexthash="47812960" _msthash="23"> Luffy met past enemies ("Joker" Bucky, some members of Baloba Walker, led by crocodiles) and others in Imper, and everyone gathered to form an alliance to achieve their own goals, and then launched a prison escape operation, and finally Luffy came to the place of execution, the naval headquarters Marin Fando. </div>
        <div class="auto">
            <p _msttexthash="200304" _msthash="24">Impel Chapter</p>
        </div>
        <div class="right">
            <img src="/img/html01/11.jpg" alt="">
        </div>
    </div>

    <div class="top1">
        <div class="left">
            <img src="/img/html01/12.jpg">
        </div>
        <div class="auto">
            <p _msttexthash="112749" _msthash="25">Apex Wars</p>
        </div>
        <div class="right" _msttexthash="132842073" _msthash="26"> Luffy and his prison escape companions, as well as the Whitebeard Pirates who came to save Ace, the three admirals of the navy, and many navies launched the "Apex War". The war ended with the mediation of "Redhead" Jax, but unfortunately both Ace and Whitebeard died on the battlefield. After the end of the war, Luffy, who lost his brother Ace and felt that his strength was insufficient, left a message to his partner at the suggestion of the "Hades" Reilly, and then embarked on a two-year journey of domineering cultivation. </div>
    </div>
    <div class="top1">
        <div class="left" _msttexthash="176452770" _msthash="27"> The Straw Hat Pirates, who have reunited after two years of training, set off for the New World to "Fish-Man Island", located 10,000 meters below the seabed. They meet Jinping and learn about the tragic history of Fish-Man Island, which originally inherited the idea of the late princess and gradually approached the ideal of peaceful coexistence with humans, but the new Fish-Man Pirates led by Hoddy Jones shattered this dream. The Straw Hat Pirates stand up to stop the "New Fish-Man Pirates" led by Hody, and begin to establish a new bond between the Fish-People and the humans led by Princess Shirahoshi. </div>
        <div class="auto">
            <p _msttexthash="316966" _msthash="28">Fish-Man Island Arc</p>
        </div>
        <div class="right">
            <img src="/img/html01/13.jpg" alt="">
        </div>
    </div>

    <div class="top1">
        <div class="left">
            <img src="/img/html01/14.jpg">
        </div>
        <div class="auto">
            <p _msttexthash="403416" _msthash="29">Banker Forbidden Zone</p>
        </div>
        <div class="right" _msttexthash="50536811" _msthash="30"> The Straw Hat Pirates and the new king, the Seven Warriors Trafalgar · D. Vatiel Law meets, and Luffy accepts Luo's proposal to form the "Pirate Alliance", targeting Gad, one of the "Four Emperors". They relied on this powerful alliance to fight Caesar Kuran, who created artificial Devil Fruits in the Bank Exclusion Zone. </div>
    </div>
    <div class="top1">
        <div class="left" _msttexthash="81033524" _msthash="31"> The Straw Hat Pirates and Law infiltrate the kingdom of Don Quixote Dóflamenco "Dressrodz" and face off against Dlesrode's men, during which they reunite with Sabo, the brother of the Chief of Staff of the Revolutionary Army, and defeat Dlesroy, the tragedy of Dressrodz. And the collapse of Doflamingo, which was the guide under the table, also caused the world situation to begin to change dramatically. </div>
        <div class="auto">
            <p _msttexthash="191867" _msthash="32">Dress-Roddes</p>
        </div>
        <div class="right">
            <img src="/img/html01/15.jpg" alt="">
        </div>
    </div>

    <div class="top1">
        <div class="left">
            <img src="/img/html01/16.jpg">
        </div>
        <div class="auto">
            <p _msttexthash="155584" _msthash="33">Zou Chapter</p>
        </div>
        <div class="right" _msttexthash="230525438" _msthash="34"> Luffy and the others went to the country of Zou to join Nami and the others, but the country was in a state of collapse. The group tracks down the secrets that happened in this country, but accidentally discovers that Yamachi is from a killer family. In order to prevent him from getting married, Luffy and his party were thinking about a way to save Yamachi, when they accidentally learned the secret of the Mitsuki clan in Wano Country. When Luffy and the others learned of this shocking fact, they locked the next target to be the Four Emperors "Hundred Beasts" Gad. Luffy, Zoro, and the Kozuki clan of Wano Country and the inhabitants of Zou are divided into teams for their respective purposes. </div>
    </div>
    <div class="top1">
        <div class="left" _msttexthash="314645344" _msthash="35">
            MOM" Charlotte Lingling's "Wanguo" Cake Island is preparing to recapture Yamachi, who is going to get married. Luffy and the others understand the real reason for the marriage between Yamachi and the family, and meet with Jinping again, and want to assassinate BIG; MOM's Fire Chariot Pirates form a temporary alliance and successfully sabotage the marriage between the two parties, rescuing Yamachi and his family, Jerma66. In order to practice the concept, Jinping officially announced its withdrawal from BIG; MOM bid farewell to the Sun Pirates and joined the Straw Hat Pirates as the helmsman. After the group achieved their goal, they escaped from BIG MOM's territory, during which Luffy and BIG were in the process
            The MOM Pirates' Charlotte Cataclee had a number of fierce duels and won in the final duel.
        </div>
        <div class="auto">
            <p _msttexthash="155207" _msthash="36">All Nations</p>
        </div>
        <div class="right">
            <img src="/img/html01/17.jpg" alt="">
        </div>
    </div>

    <div class="top1">
        <div class="left">
            <img src="/img/html01/18.jpg">
        </div>
        <div class="auto">
            <p _msttexthash="280579" _msthash="37">World Conference</p>
        </div>
        <div class="right" _msttexthash="21459022" _msthash="38"> The 50 countries represented by the member countries of the world government once again went to the "Holy Land" of Marijoya to hold a world conference every four years to discuss the overall world policy. </div>
    </div>
    <div class="top1">
        <div class="left" _msttexthash="29148379" _msthash="39"> Zoro and the others disguised themselves as citizens of Wano Country at the request of Kinemon. On the other hand, Luffy and the others successively arrived in the country of Wano, where the Four Emperors "Hundred Beasts" Gad were stationed. </div>
        <div class="auto">
            <p _msttexthash="381173" _msthash="40">Wano Country Chapter</p>
        </div>
        <div class="right">
            <img src="/img/html01/19.jpg" alt="">
        </div>
    </div>
</div>